<!DOCTYPE html>
<html>

<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
	<link rel="stylesheet" href="styles.css">

	<title>BME 280 data visualizer!</title>
</head>

<body>
	<div class="current-data-container">
		<div class="data-card">
			<div class="data-card__heading">Current temperature</div>
			<div class="data-card__value data-card__value--temp">25C</div>
		</div>
		<div class="data-card">
			<div class="data-card__heading">Current humidity</div>
			<div class="data-card__value data-card__value--humidity">25C</div>
		</div>
	</div>
	<div class="last-measurment">
		Last measurment 27/03 14:40
	</div>
	<div class='chart-container'>
		<canvas class="chart"></canvas>
	</div>
	<script>
		const formatTimestamp = (timestamp) => {
			const date = new Date(timestamp);

			return `${String(date.getDate()).padStart(2, '0')}/${String(date.getMonth()).padStart(2, '0')} - ${String(date.getHours()).padStart(2, '0')}:${String(date.getMinutes()).padStart(2, '0')}`;
		}

		const lastTempHolder = document.querySelector(".data-card__value--temp");
		const lastHumidityHolder = document.querySelector(".data-card__value--humidity");

		const file = JSON.parse('<%- fileData %>');
		const lastMeasurement = file[file.length - 1];

		lastTempHolder.innerHTML = `${lastMeasurement.data.temperature}°C`;
		lastHumidityHolder.innerHTML = `${lastMeasurement.data.humidity}%`;

		const ctx = document.querySelector(".chart");
		const myChart = new Chart(ctx, {
			plugins: [ChartDataLabels],
			type: "line",
			responsive: true,
			data: {
				labels: file.map((f) => formatTimestamp(f.timestamp)),
				datasets: [
					{
						label: "Temperature",
						data: file.map((f) => f.data.temperature),
						pointRadius: 0,
						borderColor: '#E28290',
						borderWidth: 2,
						backgroundColor: 'rgba(0, 0, 0, 0)',
						datalabels: {
							display: 'auto',
							align: 'top',
						}
					},
					{
						label: "Humidity",
						data: file.map((f) => f.data.humidity),
						borderWidth: 1,
						pointRadius: 0,
						borderColor: '#235454',
						borderWidth: 2,
						backgroundColor: 'rgba(0, 0, 0, 0)',
						datalabels: {
							display: 'auto',
							align: 'top',
						}
					},
				],
			},
			options: {
				legend: {
					display: true
				},
				scales: {
					yAxes: [
						{
							scaleLabel: {
								options: 20,
							},
							ticks: {
								suggestedMax: 50,
								suggestedMin: 0
							}
						}
					],
					xAxes: [
						{
							ticks: {
								maxTicksLimit: 20,
							},
						},
					],
				},
			},
		});
	</script>
</body>

</html>